<div class="row">
    <h1 class="head">Account Login</h1>
    <form [formGroup]="frmGrp" (ngSubmit)="login()">
        <div class="form-group">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <p>E-mail Id    :</p>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="E-mail ID" formControlName="email">
                <div *ngIf="frmGrp.controls['email'].errors?.['email']" class="alert alert-danger">Incorrect</div>
                <div *ngIf="frmGrp.controls['email'].errors?.['required']" style="color: red;">*</div>
            </div>
            <div class="col-md-4"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <p>Passward :</p>
            </div>
            <div class="col-md-3">
                <input type="password" class="form-control" placeholder="passward" formControlName="pwd"/>
                <div *ngIf="!frmGrp.controls['pwd'].valid" style="color: red;">*</div>
            </div>
            <div class="col-md-4"></div>
        </div>
      </div><br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <input type="submit" value="Login" class="btn btn-warning" [disabled]="!frmGrp.valid"/>
                </div>
            </div>
        </div>
      </form>
      <div class="foot">
        <a><span style="color: red;">*</span> are Compulsory.    </a>
        <a>     Don't have a account?</a>
        <a class="nav-link" href="signup" style="display: inline-block;">Create Account</a></div>
</div>