<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6" style="margin: 40px;">
        <img src="../../assets/img/handicrafts-bccl.jpg" id="image" alt="" width="650px">
    </div>
    <div class="col-md-3"></div>
    </div>
    <hr>
    <br>
    <p>
        Estimates suggest that India has over nine million artisans. Although many of them are set up as
        cooperatives
        and community-based organisations, they have limited reach. Moreover, these artisans are exploited
        by middlemen
        and traders, resulting in their wares going for low prices.
        <br><br>
        In fact, every year, thousands of traditional artisans migrate to the city in search of daily-wage
        labour so
        that they can feed their families. With that migration, centuries-old knowledge that has been passed
        down
        generations dies in the squalor of an urban slum.
        <br><br>

        Technology, too, has provided cheaper, cookie-cutter substitutes that have further contributed to
        the decline of
        this traditional craftsmanship. It was to combat this slow extinction and bring these dying arts
        back into the
        limelight that a few entrepreneurs have embraced ecommerce.
        <br><br>
        To enable skilled artisans to sell directly to Indian and global consumers and
        earn better products include apparels, paintings, and stationery.
        <br><br>

        Materials used include wood, leather, fibre, bamboo, grass, and even urban waste.
        this online platform for artisan jewellery lets artisans showcase their products.
        The bootstrapped startup manages the sales, fulfillment, SEO, marketing etc, thereby facilitating
        the sale of
        their products for a fair price
        <br><br>
        According to two senior government officials, the idea is to make sure that
        artisans can directly sell their products to consumers, eradicating middlemen. The platform,
        spearheaded by the
        Ministry of Textiles, will help consumers get sought-after products at affordable rates. The
        artisans will also
        get the right value for their time-tested skills.
    </p>
<div style="margin: 100px;">
    <h1 style="text-align: center; color: rgb(127, 127, 218); font-size:30px;font-style: italic; font-weight: bold;">
    Our Mission, Vision & Goals</h1>
<br>
<br>
<div class="row" style="margin: 30px;">
    <div class="col-md-4">
        <div style="text-align: center;">
            <span class="material-icons" style="color: #F0741A;">
                visibility
                </span><br>
                <a style="font-weight: bolder;">Mission</a>
        </div><br>
        <p>
            Our mission is to remit quality and premium range of Handicraft and Handloom, which are designed and
            created by artisans to provide a better livelihood
        </p>
    </div>
    <div class="col-md-4">
       <div style="text-align: center;">
        <span class="material-icons" style="color: #F0741A;">
            volunteer_activism
            </span><br>
        <a style="font-weight: bolder;">Vision</a>
       </div>
       <br>
        <p>
            Our vision is to win trust of customers and be counted among India’s top Artisan's brand.
        </p>
    </div>
    <div class="col-md-4">
        <div style="text-align: center;">
            <span class="material-icons" style="color: #F0741A;">
                military_tech
                </span><br>
            <a style="font-weight: bolder;">Goals</a>
        </div><br>
        <ul>
            <li>To promote Indian handicraft and handlooms industry </li>
        <li>To get aaproved by ministry of heritage</li>
        <li>To increase Ecomomy </li>
        <li>To enhance the standard of art and craft</li>
        </ul>
    </div>
</div>
</div>
</div>